@model SoftParking.Models.cliente

@{
  ViewBag.Title = "Crear Cliente";
}
<h2>Crear Cliente</h2>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.iden_clie,"IDENTIFICACION", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.iden_clie, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.iden_clie, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.nomb_clie,"NOMBRE", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.nomb_clie, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.nomb_clie, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.apel_clie,"APELLIDO", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.apel_clie, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.apel_clie, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.codi_priv, "PRIVILEGIO", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownList("codi_priv", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.codi_priv, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      @*<div class="container-fluid col-md-4" align="center">
        <input value="Crear" class="btn btn-default" type="submit">
      </div>*@
      <div class="container-fluid col-md-6" align="center">
        <button class="btn btn-info" type ="button" onclick="AsignarVehiculo()">
          Asignar Vehiculo
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
      <div class="container-fluid col-md-6" align="center">
        <button class="btn btn-info" type ="button" onclick="IngresarVehiculo()">
          Crear Vehiculo
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Volver", "Index")
</div>
