@model SoftParking.Models.ubicacion

@{
  ViewBag.Title = "Modificar Ubicacion";
}

<h2>Modificar Ubicacion</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.codi_ubic)

    <div class="form-group">
      @Html.LabelFor(model => model.tama_ubic, "TAMAÑO", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @{
          List<SelectListItem> tama_esta = new List<SelectListItem>();
          tama_esta.Add(new SelectListItem { Text = "GRANDE", Value = "GRANDE" });
          tama_esta.Add(new SelectListItem { Text = "MEDIANO", Value = "MEDIANO", });
          tama_esta.Add(new SelectListItem { Text = "PEQUEÑO", Value = "PEQUEÑO", });
        }
        @Html.DropDownListFor(model => model.tama_ubic, tama_esta, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.tama_ubic, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.esta_ubic,"ESTADO", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @{
          List<SelectListItem> Opciones = new List<SelectListItem>();
          Opciones.Add(new SelectListItem { Text = "ACTIVA", Value = "ACT" });
          Opciones.Add(new SelectListItem { Text = "INACTIVA", Value = "INA", });
        }
        @Html.DropDownListFor(model => model.esta_ubic, Opciones, htmlAttributes: new { @class = "form-control" })        
        @Html.ValidationMessageFor(model => model.esta_ubic, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.piso_ubic,"PISO", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.piso_ubic, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.piso_ubic, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.dist_ubic,"DISTINTIVO", htmlAttributes: new { @class = "control-label col-md-2"})
      <div class="col-md-10">
        @Html.EditorFor(model => model.dist_ubic, new { htmlAttributes = new { @class = "form-control", maxlength = "2" } })
        @Html.ValidationMessageFor(model => model.dist_ubic, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Modificar" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Volver", "Index")
</div>
